<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link href="admin/bootstrap.min.css" rel="stylesheet">
    <link href="admin/animate.css" rel="stylesheet">
    <link href="admin/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <h3>管理员注册</h3>
        <form class="m-t" role="form" action="login.ejs">
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="请输入用户名" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="请输入注册密码" required="">
            </div>

            <input type="button" id="login" class="btn btn-primary block full-width m-b" value="注册">
        </form>
        <p class="m-t"> <small>Copyright &copy; 2018.sminocence All rights reserved.</small> </p>
    </div>
</div>
<script src="admin/jquery-2.1.1.js"></script>
<script src="admin/bootstrap.min.js"></script>

<script>
    //用ajax提交表单
    $('#login').click(function () {
        $.post("/doRegister",{
            "username" : $("#username").val(),
            "password" : $("#password").val()
        },function (result) {
            if(result == "1"){
                alert("注册成功！跳转到登录页！");
                window.location.href = "/login";
            }
        });
    });
</script>
</body>

</html>